.bg {
    position: absolute;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 10;
}

.sbg {
    position: absolute;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    left: 0;
    overflow: hidden;
    top: 0;
    width: 100%;
    z-index: 999;
}

.modalIcon {
    position: absolute;
    top: 18px;
    right: 20px;
    cursor: pointer;
}
.modalIcon:hover {
    color: red;
}
.modalIcon:active {
    color: black;
}
.calendar {
    margin-left: 13px;
    margin-top: 2px;
    cursor: pointer;
}
.calendar:hover {
    color: rgb(0, 145, 24);
}
.react-datepicker {
    border-radius: 20px !important;
    font-size: 0.9rem !important;
}
.react-datepicker__current-month {
    font-size: 1.2rem !important;
}
.react-datepicker__header {
    border-top-left-radius: 20px !important;
    border-top-right-radius: 20px !important;
    padding-top: 18px !important;
}
.react-datepicker__navigation {
    top: 13px !important;
}
.react-datepicker__day-name,
.react-datepicker__day {
    margin: 0.1rem 0.3rem !important;
}

.react-datepicker__day--disabled {
    color: #cccccc !important;
}
